.lh-1 {
	line-height: 1.5;
}
.lh-2 {
	line-height: 1.2;
}
.material-icons {
	vertical-align: bottom;
}
.bg-cover {
    background-size: cover;
    background-position: center center;
}
.h7 {  
	font-size: $font-size-sm;
}
.display-5 {
    font-size: 48px;
} 
.radius-s {
	border-radius: 5px;
}
.radius-m {
	border-radius: 10px;
}